{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Home{% endblock title %}
{% block extrahead %}
{% endblock %}

{% block content %}

    {% for list in lists %}
        {{ list.id }}
        {{ list.name }}
    {% endfor %}
    <form action="{% url 'cms:list_add' %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
      <div class="form-group">
          <input type="text" class="form-control" name="list_name" required>
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

{% endblock content %}