{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Home{% endblock title %}
{% block extrahead %}
<script>
$(function() {
  $('.del_confirm').on('click', function () {
     $("#del_pk").text($(this).attr("pk"));
     $("#del_name").text($(this).attr("name"));
     $('#del_url').attr('href', $(this).attr("url"));
  });
});
</script>

{% endblock %}
{% block content %}
    <div class='container'>
    <h1>Simple Todo List App</h1>


    <div class="row">
        <nav class="col-md-3 d-md-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-fill">
                  <h2>My Todo List</h2>
                </li>
            </ul>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
            <form action="{% url 'cms:list_add' %}" method="post" class="form-horizontal"  >
            {% csrf_token %}
            <div class="form-group row" style="margin-bottom:0px;">
                <input type="text" class="form-control col-sm-10" name="list_name" placeholder="Add todo list" required >
                <button type="submit" class="btn btn-primary col-sm-auto" >＋</button>
            </div>
            </form>
            </li>
              {% for list in lists %}
                  <li class="nav-item" style="margin: 5px;">
                    <button class="btn btn-sm btn-danger del_confirm" data-toggle="modal"
                            data-target="#deleteModal" pk="{{ list.id }}" name="{{ list.name }}"
                            url="{% url 'cms:list_del' list_id=list.id %}">-</button>
                    <a class="col-sm-9" href="{% url 'cms:task_list' list_id=list.id %}">{{ list.name }}</a>
                  </li>
              {% endfor %}
          </ul>
        </nav>
        <div class="col-md-6">
            {% if list %}
            <div class="todolist not-done">
             <h2>{{ list.name }}</h2>

                <form action="{% url 'cms:task_add' list_id=list.id%}" method="post" class="form-inline" role="form" >
                    {% csrf_token %}
                    <div class="form-group" >
                        <input type="text" class="form-control" name="task_name" placeholder="Add todo" required >
                        <button type="submit" class="btn btn-primary" >ADD</button>
                    </div>
                </form>

                <table class="table table-hover">
                  <tbody>
                    {% for task in tasks %}
                        <tr>
                          <th scope="row">
                            <form action="{% url 'cms:task_mod' list_id=list.id task_id=task.id %}" class="form-inline">
                            <button type="submit" class="btn btn-success" >✔</button>
                            </form>
                          </th>
                          <td>
                              <form action="{% url 'cms:task_del' list_id=list.id task_id=task.id %}" class="form-inline">
                                <button class="btn btn-danger" >✖︎</button>
                              </form>
                          </td>
                          <td>
                            <h4>{{ task.name }}</h4>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    </div>
{# Delete confirmation #}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="deleteModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Do you delete list "<span id="del_name"></span>"？</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="del_url">OK</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}