{% extends "base.html" %}

{% block title %}書籍の一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">書籍の一覧</h3>
    <a href="{% url 'cms:task_add' %}" class="btn btn-default btn-sm">追加</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>TASK NAME</th>
          <th>TASK CONTENT</th>
          <th>OPERATION</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.content }}</td>
          <td>
            <a href="{% url 'cms:task_mod' task_id=task.id %}" class="btn btn-default btn-sm">修正</a>
            <a href="{% url 'cms:task_del' task_id=task.id %}" class="btn btn-default btn-sm">削除</a>
            <a href="{% url 'cms:comment_list' task_id=task.id %}" class="btn btn-default btn-sm btn-primary">感想の一覧</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}